
.navbar {
    background: #222;
    padding: 15px;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover {
    color: skyblue;
}


#main-content {
    display: flex;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    gap: 30px;
}

.left-column, .right-column {
    flex: 1;
}


.profile-img {
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.name {
    margin-top: 10px;
}

.job-title {
    color: gray;
    font-style: italic;
}

.contact-section p, .contact-section a {
    background: #f3f3f3;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;

    color: #333;
}


.skills-section {
    background: #f3f3f3;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
}

ul li{
    background: #92a9c2;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;

}

.experience-section {
    background: #f3f3f3;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
}


#about p {
    background: #f3f3f3;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
    
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 15px;
}

.Achievements {
    background: #f3f3f3;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;

}


.message-form input[type="text"],
.message-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-sizing: border-box;
}

.message-form input[type="submit"] {
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    background: #007bff;
    color: white;
    transition: 0.3s;
}

.message-form input[type="submit"]:hover {
    background: #0056b3;
}


footer {
    text-align: center;
    padding: 15px;
    background: #222;
    color: white;
    margin-top: 30px;
}

.nav-logo {
    width: 90x;      
    height: 90px;
    margin-right: 15px;  
    vertical-align: left;
}
